@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url(images/redbg.png), no-repeat, fixed, center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 380px;
    width: 580px;
    font-family: "Poppins", sans-serif;
    display: flex;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 6px 32px 0 rgba(95, 95, 95, 0.356);
}

.right-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: 2.3em;
    margin: 0;
    padding: 0;
    color: #ED2951;
}

p {
    font-size: 1em;
    text-align: center;
    width: 280px;
    margin-top: 10px;
    margin-bottom: 20px;
}

span {
    font-weight: 600;
    font-style: italic;
    color: #ED2951;
}


.box {
    background-color: rgba(197, 197, 197, 0);
    border: 2px solid #ED2951;
    font-family: "Poppins", sans-serif;
    font-size: .7em;
    text-align: center;
    margin: 5px;
    height: 38px;
    width: 180px;
    border-radius: 38px;
    transition: .3s;
    box-shadow: 0px 3px 6px rgba(83, 83, 83, 0.2);
}

.box::placeholder {
    color: #fff;
}

.box:focus {
    outline: none;
}

.lgn {
    color: #fff;
    background-color: #ED2951;
    height: 38px;
    width: 100px;
    margin: 15px;
    padding: 3px;
    border: none;
    border-radius: 38px;
    font-family: 'Poppins', sans-serif;
    font-size: .6em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0px 0px 8px #ed2950da;
    transition: .3s;
}

.lgn:hover {
    color: #fff;
    width: 180px;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 8px #ed2950cc;
    transition: .3s;
}


div.left-login {
    overflow: hidden;
    position: relative;
    width: 280px;
    height: 380px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0px 20px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    position: absolute;
    top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

a:focus {
    transition: 1s;
    top: -60px;
}

.thint {
    font-size: .8em;
    width: 160px;
    transition: .3s;
}

.thint .trs::before {
    content: "Como";
    font-weight: 600;
    color: #ED2951;
    transition: .3s;
}

.thint .trs:hover::after {
    content: "Local";
    transition: .3s;
}

.thint .trs:hover::before {
    content: '';
    transition: .3s;
}

.thint .trs2::before {
    content: "quando";
    font-weight: 600;
    color: #ED2951;
    transition: .3s;
}

.thint .trs2:hover::after {
    content: "chave";
    transition: .3s;
}

.thint .trs2:hover::before {
    content: '';
    transition: .3s;
}